body , html{
    transition: 1s ease-in-out;
    width: 100%;
    height : 100%;
    margin : 0 0;
    padding: 0  0;
}

.checkerRed {
    background: #f00;
    margin-left: -2px;
    border: 5px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.checkerBlack {
    background: #000;
    margin-left: -2px;
    border: 5px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.checkerRedSelected {
    background: #f00;
    margin-left: -2px;
    border: 5px solid yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.checkerBlackSelected {
    background: #000;
    margin-left: -2px;
    border: 5px solid yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.checkerRedKing {
    background: #f00;
    margin-left: -2px;
    border: 5px solid blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.checkerBlackKing {
    background: #000;
    margin-left: -2px;
    border: 5px solid blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.board{
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color:#F0D2B4;
}

.display{
    text-align: center;
    font-size: 200%;
    color: #eeeeee;
}

.reset{
    text-align: center;
    font-size: 24px;
    position: relative;
    padding: 15px 15px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #485d8c;
}

.centered{
    position: relative;
    margin: 0 auto;
    text-align: center;
}